<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
  
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
      
        
            <form [formGroup]="forgotPasswordForm"  (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
              <div class="text-center mb-4">
                <h1 class="h3 mb-3 fw-normal">Enter your user account's verified email address and we will send you a password reset link.</h1>
              </div>
            
           <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
           
          
             
              <button [disabled]="forgotPasswordForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">send password reset email</button>
            </form>
             
          
    </div>
    
</div>


