
<div class="container mt-5 px-5">

  <div class="mb-4">

      <h2>siparişi onayla ve öde</h2>
  <span>ödemeyi yaptıktan sonra siparişin hemen yolda</span>
      
  </div>

<div class="row">

  <div class="col-md-8">
      

      <div class="card p-3">

          <h6 class="text-uppercase">ödeme detayları</h6>
          <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" required="required"> <span>isim</span> </div>


          <div class="row">

              <div class="col-md-6">

                  <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <i class="fa fa-credit-card"></i> <span>kart numarası</span> 


                  </div>
                  

              </div>

              <div class="col-md-6">

                   <div class="d-flex flex-row">


                       <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>son kullanma tarihi</span> </div>

                    <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>CVV</span> </div>
                       

                   </div>
                  

              </div>
              

          </div>



         

      </div>


     

  </div>

 
</div>


</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-4">

    <button class="btn btn-outline-primary"cdkStepperPrevious>
   <i class="fa fa-angle-left"></i> inceleme ye dön

    </button>
    <button  class="btn btn-primary" (click)="submitOrder()">
      siparişi onayla  <i class="fa fa-angle-right"></i> 
     
         </button>
</div>
