
    <header>
      
    
        <span *ngIf="totalCount && totalCount > 0">
          Gösterilen 
          <strong>
            {{(pageNumber-1) *pagesize+1}} - 
            {{pageNumber*pagesize
             >this.totalCount
             ? this.totalCount
             : pageNumber*pagesize
            }}
          </strong> ürün <strong>{{this.totalCount}}</strong> Toplam ürün</span>
           <span  *ngIf="totalCount === 0">

            aranan kriterlerde bir ürün bulunmamaktadır.

           </span>
          
         
      </header>