<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="'bu link zaten kullanılmış'"></span>
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        şifreniz değiştirildi. lütfen <a [routerLink]="['/account/giriş']"> giriş yapmak için buraya tıklayın. </a>
    </div>
        
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
              <div class="text-center mb-4">
                <h1 class="h3 mb-3 fw-normal">şifre yenileme</h1>
              </div>
            
           
              <app-text-input formControlName="password" [label]="'şifre'" [type]="'password'"></app-text-input>
              <app-text-input formControlName="confirm" [label]="'şifre tekrarı'" [type]="'password'"></app-text-input>
             
      

        
             
              <button [disabled]="resetPasswordForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">şifremi değiştir</button>
            </form>
             
          
    </div>
    
</div>
