<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Your password has been reset. Please <a [routerLink]="['/account/login']"> click here to log in. </a>
    </div>
        
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
              <div class="text-center mb-4">
                <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
              </div>
            
           
              <app-text-input formControlName="password" [label]="'password'" [type]="'password'"></app-text-input>
              <app-text-input formControlName="confirm" [label]="'confirm'" [type]="'password'"></app-text-input>
             
      

        
             
              <button [disabled]="resetPasswordForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
             
          
    </div>
    
</div>
