<div class="container mt-5">

    <div><i class="fa fa-check-circle fa-5x" style="color:green;"></i></div>
    <h2>Teşekkürler Siparişiniz onaylandı</h2>
    <p class="mb-4">Siparişiniz Hakkında Yorum Yapmak istermisiniz ?</p>

 
    <div style="margin-top: 120px;" >
        <h4  class="mt-2 ">Yorum yap</h4>
  <form #editForm="ngForm" (ngSubmit)="addcomment(model)">
    <textarea  class="form-control" 
    [(ngModel)]="model.comments"
    
    name="yorum yaz"
    rows="6"

    
    >
   
   </textarea>

   <button *ngIf="!order" routerLink="/shop" class="btn btn-outline-success me-2 mt-3">Ürünler</button>
    <button *ngIf="!order"  type="submit" class="btn btn-outline-success mt-3">Yorum Yap</button>
  </form>
     

    



    
</div>
